# Backend application\nPORT=3000\nDATABASE_URL=mysql://license_user:license_pass_123@localhost:3307/license_db\n\n# MySQL credentials (used by Docker)\nMYSQL_ROOT_PASSWORD=root_password_change_me\nMYSQL_DATABASE=license_db\nMYSQL_USER=license_user\nMYSQL_PASSWORD=license_pass_123\n
